<!DOCTYPE html>
<html lang="en">
<head>
	<title>pawc.azurewebsites.net</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/style.css">
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="socket.io-client/socket.io.js"></script>
	<script>
		var myLogin = '<%= login %>'
	</script>
	<script src="public/js/board.js"></script>
</head>
<body>

	<div class="container">
		<div class="row">
		 
			<div class="col-sm-12">
				<div class="chatbody">
					<div class="panel panel-primary">
						<div class="panel-body msg_container_base">
						</div>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." autocomplete="off"/>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</body>
</html>