<!DOCTYPE html>
<html>
    <head>
        <script src="jquery/jquery.min.js"></script>
        <script language="javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <script src="easy-autocomplete/jquery.easy-autocomplete.js"></script>
        <link rel="stylesheet" href="easy-autocomplete/easy-autocomplete.css">
        <link rel="stylesheet" href="public/css/style.css">
        <script src="public/js/conversations.js"></script>
    </head>
    <body>
        <div class="container">
            <input type="text" class="searchInput" id="searchInput" />
        </div>
        <div class="container conversations">
        </div>
    </body>
</html>