<!DOCTYPE html>
<html>
    <head>
        <script src="/jquery/jquery.min.js"></script>
        <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css">
        <script src="/socket.io-client/socket.io.js"></script>
        <script>
            var userId = '<%= userId %>';
            var userLogin = '<%= userLogin %>';
            var interlocutor = '<%= interlocutor %>';
            var interlocutorLogin = '<%= interlocutorLogin %>';
        </script>
        <script src="/public/js/messages.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
             
                <div class="col-sm-12">
                    <div class="chatbody">
                        <div class="panel panel-primary">
                            <div class="panel-body msg_container_base">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." autocomplete="off"/>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </body>
</html>