<!DOCTYPE html>
<html>
    <head>
        <script src="/jquery/jquery.min.js"></script>
        <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css">
        <script>
            var userId = '<%= userId %>';
            var interlocutor = '<%= interlocutor %>';
        </script>
        <script src="/public/js/messages.js"></script>
    </head>
    <body>
        <div class="container">
        </div>
    </body>
</html>