<!DOCTYPE html>
<html>
    <head>
        <script src="/jquery/jquery.min.js"></script>
        <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css">
        <script>
            var userId = '<%= userId %>';
            var interlocutor = '<%= interlocutor %>';
        </script>
        <script src="/public/js/messages.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-12">
                <div class="container" id="messages"></div>
                <div class="container">
                    <form id="messageForm" class="form-inline" action="#" method="POST">
                        <input type="message" class="form-control" id="message" name="message">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>