<!DOCTYPE html>
<html>
    <head>
        <script language="javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <h1>Sign up</h1>
                <p class="text-danger"><%= message%></p>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input type="login" class="form-control" id="login" name="login">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p><a href='/signin'>Already registered? Sign in!</a></p>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </body>
</html>